[submodule "src/faceCommon"]
	path = src/faceCommon
	url = git@github.com:stepanmracek/faceCommon.git
[submodule "src/faceSensors"]
	path = src/faceSensors
	url = git@github.com:stepanmracek/faceSensors.git
